* {
    box-sizing: border-box;
}

.main {
    padding: 20px 40px;
    display: flex;
}

.page-block {
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.message-info {
    text-align: center;
}
